* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#cfd9df, #e2ebf0);
}

.container {
    width: 80vw;
    height: 100vh;
    background: linear-gradient(bottom, #f5f7fa,  #c3cfe2);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 20px;
}

/* centimeter converter */

.centimeter-convertion {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.centimeter-convertion p:nth-child(1) {
    width: 80%;
    padding-top: 20px;
    text-align: center;
    border-top: 3px solid  rgb(110, 183, 231);
    font-size: 1.4rem;
    font-weight: bolder;
}

#cm {
    width: 80%;
    border: none;
    padding: 4px 0;
    text-align: center;
    outline: none;
    height: 25px;
    transition: all 0.5s;
    font-size: 13px;
}

#cm:hover {
    background: rgb(110, 183, 231);
    color: white;
}

#button {
    width: 40%;
    border: 1px solid rgb(110, 183, 231);
    padding: 2px 20px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
    height: 25px;
    border-radius: 10px;
}

#button:hover {
    background: rgb(110, 183, 231);
    color: white;
    border: 1px solid rgb(110, 183, 231);
}

#first {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 3px dotted black;
}

/* end of centimeter converter */
/* heading */

.heading {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    margin-top: 2vh;
}

.heading a {
    text-decoration: none;
    color: rgb(14, 93, 146);
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.heading a:hover {
    border-left: 4px solid rgb(14, 93, 146);
    padding-left: 20px;
}

/* end of heading */
/* second part */

.bmi-convertion {
    grid-column: 2 / 8;
    grid-row: 5 / 7;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.bmi-convertion p {
    margin-bottom: 10px;
}

.bmi-convertion .second-button {
    border: none;
    outline: none;
    padding: 4px 0;
    font-size: 13px;
    text-align: center;
    width: 70%;
}

#button-last {
    width: 30%;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
    border: 1px solid rgb(110, 183, 231);
    margin-bottom: 20px;
    outline: none;
    transition: all 0.5s;
    height: 25px;
    border-radius: 10px;
}

#button-last:hover {
    background: rgb(110, 183, 231);
    color: white;
}

.bmi-convertion h2 {
    border-bottom: 3px solid rgb(110, 183, 231);
    margin-top: -10px;
}

/* end of second part */
/* footer */

.footer {
    margin-top: 1px;
    border-top: 10px solid white;
    padding-top: 20px;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

.section-two {
    margin-top: 2%;
}

/* effect */
.top {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}
.top::after {
    color: black;
}
.top::before {
    color: black;
}
.top i {
    width: 30px;
    height: 30px;
    font-size: 2rem;
}
.top i ::before {
    color: black;
}
.top i ::after {
    color: black;
}

.special-text {
    width: 50vw;
    height: 50vh;
    background-color: #eee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 2rem;
    border: 0.1rem solid #3459af;
    border-radius: 0.2rem;
    display: none;
    overflow: hidden;
}
@keyframes animi {
    0% {
        margin-left: -100vw;
    }
    25% {
        margin-left: -10vw;
    }
    50% {
        margin-left: -10vw;
    }
    80% {
        margin-left: 0vw;
    }
}
.special-text-button {
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid rgb(75, 70, 70);
    position: inherit;
    bottom: 20px;
    transition: all 0.5s;
}
.special-text-button:hover {
    background-color: #3459af;
    border: 1px solid #3459af;
    color: white;
}
.x-btn {
    font-size: 1.5rem;
    color: #00154c;
    font-weight: bolder;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
/* bmi  */
.special-text h2 {
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.special-text p {
    margin-top: 10px;
}
/* end of bmi */
.top:focus ~ .special-text {
    display: inline;
    animation-name: animi; 
    animation-duration: 3s;
}
#show-hide-forms {
    visibility: hidden;
}
.special-text span:nth-child(1) {
    color: red;
}
.special-text span:nth-child(2) {
    color: green;
}
/* end of effect */

/* end of footer */
/* responsive */
/* height */

@media (max-height: 1100px) {
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 50px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -50px;
    }
}

/* bigger screens */

@media (min-height: 630px) {
    .container {
        height: 95vh;
    }
}

@media (min-height: 650px) {
    .container {
        height: 92vh;
    }
}

@media (min-height: 670px) {
    .container {
        height: 90vh;
    }
}

@media (min-height: 690px) {
    .container {
        height: 85vh;
    }
}

input {
    border-radius: 5px;
}


@media (max-width: 650px) {
    .bmi-convertion #button-last {
        border-radius: 5px;
        width: 50%;
    }
    #button {
        border-radius: 5px;
        width: 50%;
    }
    #cm {
        width: 90%;
        height: 14px;
    }
    .second-button {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .bmi-convertion #button-last {
        border-radius: 5px;
        width: 50%;
    }
    #button {
        border-radius: 5px;
        width: 75%;
    }
    #cm {
        width: 80vw;
        height: 14px;
    }
    .bmi-convertion input {
        width: 100%;
    }
    .bmi-convertion {
        grid-column: 1 / -1;
        grid-row: 5 / 7;
    }
}

@media (max-width: 300px) {
    #first {
        width: 100%;
        text-align: center;
    }   
    .container {
        width: 100vw;
    }
    .second-button {
        width: 100%;
    }
    .heading a {
        margin-top: 20px;
        margin-left: 20px;
    }
    .section-one {
        padding: 0 15px;
    }
}

@media (max-width: 220px) {
    #cm {
        width: 90vw;
        height: 12px;
    }
    .centimeter-convertion p:nth-child(1) {
        font-size: 1.2rem;
    }
    .bmi-convertion h2 {
        font-size: 1.2rem;
    }
}

/* larger devices ko responsve process*/

/* end of larger devices  */


@media (max-height: 1400px) {
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 10px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -100px;
    }
    .bmi-convertion {
        margin-top: 0;
    }
    .container {
        height: 90vh;
    }
    .footer {
        height: 10vh;
    }
    * {
        margin-top: 40px;
    }
}

@media (max-height: 1265px) {
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 50px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -150px;
    }
    .bmi-convertion {
        margin-top: -100px;
    }
    .container {
        height: 90vh;
    }
    .footer {
        height: 10vh;
    }
    * {
        margin-top: 40px;
    }
}

@media (max-height: 1110px) {
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 50px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -170px;
    }
    .bmi-convertion {
        margin-top: -100px;
    }
    .container {
        height: 90vh;
    }
    .footer {
        height: 10vh;
    }
    * {
        margin-top: 20px;
    }
}


@media (max-height: 900px) {
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 30px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -100px;
    }
    .bmi-convertion {
        margin-top: 10px;
    }
    * {
        margin-top: 0px;
    }
}

@media (max-height: 825px) {
    * {
        margin-top: 0px;
    }
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 0px;
    }
    .centimeter-convertion {
        grid-row: 3 / 5;
        margin-top: -100px;
    }
    * {
        margin-top: 0px;
    }
}

@media (max-height: 740px) {
    * {
        margin-top: 0px;
    }
    .container {
        height: 110vh;
    }
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: -10px;
    }
    .footer {
        padding-bottom: 30px;
    }
    * {
        margin-top: 0px;
    }
}

@media (max-height: 630px) {
    * {
        margin-top: 0px;
    }
    .container {
        height: 120vh;
    }
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 20px;
    }
    .footer {
        padding-bottom: 30px;
    }
}

@media (max-height: 590px) {
    * {
        margin-top: 0px;
    }
    .footer {
        border-top: 1px solid white;
    }
    .bmi-convertion h2 {
        border-bottom: 3px solid rgb(110, 183, 231);
        margin-top: 30px;
    }
}

@media (max-height: 585px) {
    * {
        margin-top: 0px;
    }
    .container {
        height: 120vh;
    }

    .bmi-convertion h2 {
        margin-top: 10px;
    }

    .bmi-convertion {
        margin-top: -20px;
    }
    .special-text {
        height: 60vh;
    }
}

@media (max-height: 495px) {
    * {
        margin-top: 0px;
    }
    .container {
        height: 130vh;
    }
} 

@media (max-height: 460px) {
    .container {
        height: 140vh;
    }
    .special-text {
        height: 70vh;
    }
} 

@media (max-height: 430px) {
    .container {
        height: 150vh;
    }

    .footer {
        height: 19vh;
    }
} 

@media (max-height: 390px) {
    .container {
        height: 165vh;
    }

    .footer {
        height: 20vh;
    }
    .special-text {
        height: 80vh;
        width: 60vw;
        margin: 50px 0;
        margin-top: -5px;
    }
} 

@media (max-height: 360px) {
    .container {
        height: 180vh;
    }

    .footer {
        height: 20vh;
    }
} 

@media (max-height: 330px) {
    .container {
        height: 190vh;
    }

    .footer {
        height: 22vh;
    }
    .special-text {
        height: 85vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .x-btn {
        margin-top: 10px;
    }
} 

@media (max-height: 315px) {
    .container {
        height: 200vh;
    }

    .footer {
        height: 22vh;
    }
} 

@media (max-height: 295px) {
    .container {
        height: 210vh;
    }

    .footer {
        height: 22vh;
    }
} 

@media (max-height: 280px) {
    .container {
        height: 220vh;
    }

    .footer {
        height: 25vh;
    }
} 

@media (max-height: 270px) {
    .container {
        height: 240vh;
    }

    .footer {
        height: 27vh;
    }
    .special-text {
        height: 89vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .special-text h2 {
        margin-bottom: 10px;
    }
    .special-text-button {
        bottom: 40px;
    }
} 

@media (max-height: 245px) {
    .container {
        height: 255vh;
    }

    .footer {
        height: 24vh;
    }
    .special-text {
        height: 92vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .special-text h2 {
        margin-bottom: 10px;
    }
    .special-text-button {
        bottom: 40px;
    }
} 


@media (max-height: 230px) {
    .container {
        height: 270vh;
    }

    .footer {
        height: 29vh;
    }
    .special-text {
        height: 96vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .special-text h2 {
        margin-bottom: 10px;
    }
    .special-text-button {
        bottom: 40px;
    }
} 


@media (max-height: 220px) {
    .container {
        height: 285vh;
    }

    .footer {
        height: 32vh;
    }
    .special-text {
        height: 99vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .special-text h2 {
        margin-bottom: 10px;
        margin-top: -5px;
    }
    .special-text-button {
        bottom: 42px;
    }
    .x-btn {
        margin-top: 10px;
    }
} 



@media (max-height: 210px) {
    .container {
        height: 300vh;
    }

    .footer {
        height: 35vh;
    }
    .footer {
        height: 32vh;
    }
    .special-text {
        height: 101vh;
        width: 90vw;
        margin: 0 0;
        margin-top: 0;
    }
    .special-text h2 {
        margin-bottom: 10px;
        margin-top: -5px;
    }
    .special-text-button {
        bottom: 42px;
        padding: 3px 10px;
    }
    .special-text p {
        margin-top: 2px;
    }
    .x-btn {
        margin-top: 10px;
    }
} 

@media (max-height: 195px) {
    .container {
        height: 330vh;
    }

    .footer {
        height: 35vh;
    }
} 

@media (max-height: 180px) {
    .container {
        height: 350vh;
    }

    .footer {
        height: 37vh;
    }
    .footer {
        height: 32vh;
    }
} 

@media (max-height: 170px) {
    .container {
        height: 380vh;
    }

    .footer {
        height: 39vh;
    }
} 

@media (max-height: 155px) {
    .container {
        height: 420vh;
    }

    .footer {
        height: 33vh;
    }
} 

@media (max-height: 140px) {
    .container {
        height: 460vh;
    }

    .footer {
        height: 46vh;
    }
} 

@media (max-height: 130px) {
    .container {
        height: 500vh;
    }

    .footer {
        height: 48vh;
    }
} 

@media (max-height: 120px) {
    .container {
        height: 530vh;
    }

    .footer {
        height: 50vh;
    }
} 

@media (max-height: 110px) {
    .container {
        height: 570vh;
    }

    .footer {
        height: 50vh;
    }
} 

@media (max-height: 105px) {
    .container {
        height: 600vh;
    }

    .footer {
        height: 52vh;
    }
} 
